<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="nav navbar-nav">
    <a
      href="http://localhost:4200"
      class="nav-item nav-link active"
      aria-current="page"
      >Sistema de Libros <span class="visually-hidden">(current)</span></a
    >
    <a class="nav-item nav-link" routerLink="listar-libro">Listar libros</a
    ><a class="nav-item nav-link" routerLink="agregar-libro">Agregar libros</a>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
