<!-- bs5-card-head-foot -->
<div class="card mt-4">
  <div class="card-header">Editar libros</div>
  <div class="card-body">
    <div class="mb-3">
      <form (ngSubmit)="enviarDatos()" [formGroup]="formularioDeLibros">
        <div class="mb-3">
          <label for="" class="form-label">Título</label>
          <input
            formControlName="title"
            type="text"
            class="form-control"
            aria-describedby="helpId"
            placeholder="Ingresa el título del libro"
          />
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Autor</label>
          <input
            formControlName="author"
            type="text"
            class="form-control"
            aria-describedby="helpId"
            placeholder="Ingresa el nombre del autor"
          />
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Año</label>
          <input
            formControlName="year"
            type="text"
            class="form-control"
            aria-describedby="helpId"
            placeholder="Ingresa el año de edición del libro"
          />
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Editorial</label>
          <input
            formControlName="editorial"
            type="text"
            class="form-control"
            aria-describedby="helpId"
            placeholder="Ingresa la editorial del libro"
          />
        </div>
        <!-- bs5-bgroup-default -->
        <div class="btn-group" role="group" aria-label="Button group name">
          <button type="submit" class="btn btn-warning">Modificar</button>
          <button
            type="button"
            class="btn btn-danger ms-3"
            routerLink="/listar-libro"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
